/* -------------------------------------------------------------------------- */
/*                                    Color                                   */
/* -------------------------------------------------------------------------- */

@import "design_tokens/color";

/* --------------------------------- / Color -------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   Shadow                                   */
/* -------------------------------------------------------------------------- */

@import "design_tokens/shadow";

/* -------------------------------- / Shadow -------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                    Space                                   */
/* -------------------------------------------------------------------------- */

@import "design_tokens/space";

/* --------------------------------- / Space -------------------------------- */


/* -------------------------------------------------------------------------- */
/*                                  Variables                                 */
/* -------------------------------------------------------------------------- */
$base-size: 16;

$max-width-container: 1100px;
$nav-height: $space__base-7;

$border_radius-1: 9px;
$border_radius-2: 5px;
$border_radius-3: 3px;

/* ------------------------------- / Variables ------------------------------ */



