/* ---------------------------- Primary / Accent ---------------------------- */
$color__dark: #5A6B88;
$color__slate-gray: #8897AF;
$color__black: #283343;
$color__slate-4: #E7EAEF;
$color__slate-3: #D7DCE4;
$color__slate-2: #C0C8D4;
$color__slate-1: #B0BACA;
$color__green-primary: #37BC9B;
$color__green-secondary: #95DFCC;
$color__red-primary: #DA4453;
$color__red-secondary: #EAA2A9;

$color__accent: $color__green-primary;
$color__text-primary: $color__slate-4;
