$shadow__natural--long: 4px 14px 86px rgba(0, 0, 0, 0.08), 
  2px 8px 24px rgba(0, 0, 0, 0.1), 
  1px 4px 12px rgba(0, 0, 0, 0.1), 
  0px 4px 6px rgba(0, 0, 0, 0.06), 
  4px 10px 32px rgba(0, 0, 0, 0.08);

$shadow__natural--low_contrast: 4px 14px 86px rgba(0, 0, 0, 0.08), 
  2px 8px 24px rgba(0, 0, 0, 0.1), 
  1px 4px 12px rgba(0, 0, 0, 0.1), 
  0px 4px 6px rgba(0, 0, 0, 0.06), 
  4px 10px 32px rgba(0, 0, 0, 0.08);

$shadow__natural--low_contrast_--long: 4px 14px 86px rgba(0, 0, 0, 0.04), 
  2px 8px 24px rgba(0, 0, 0, 0.05), 
  1px 4px 12px rgba(0, 0, 0, 0.05), 
  0px 4px 6px rgba(0, 0, 0, 0.03), 
  4px 10px 32px rgba(0, 0, 0, 0.04);