/* -------------------------------------------------------------------------- */
/*                             Base Configuration                             */
/* -------------------------------------------------------------------------- */
$space__base-0: 2px;
$space__base-1: 4px;
$space__base-2: 8px;
$space__base-3: 12px;
$space__base-4: 16px;
$space__base-5: 24px;
$space__base-6: 32px;
$space__base-7: 48px;
$space__base-8: 72px;
$space__base-9: 108px;
$space__base-10: 162px;

/* -------------------------- / Base Configuration -------------------------- */

/* -------------------------------------------------------------------------- */
/*                            Spatial Configuration                           */
/* -------------------------------------------------------------------------- */

$inset-gutter: $space__base-2;

/* ------------------------- / Spatial Configuration ------------------------ */
